<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Examen-FJHurtado</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MostrarProductosServlet</servlet-name>
    <servlet-class>servlets.MostrarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarProductosServlet</servlet-name>
    <url-pattern>/MostrarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnadirCestaServlet</servlet-name>
    <servlet-class>servlets.AnadirCestaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnadirCestaServlet</servlet-name>
    <url-pattern>/AnadirCesta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostrarDetallesServlet</servlet-name>
    <servlet-class>servlets.MostrarDetallesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarDetallesServlet</servlet-name>
    <url-pattern>/MostrarDetalles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.cuenta.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.cuenta.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CuentaServlet</servlet-name>
    <servlet-class>servlets.cuenta.CuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuentaServlet</servlet-name>
    <url-pattern>/Cuenta</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/MostrarProductos</url-pattern>
    <url-pattern>/MostrarDetalles</url-pattern>
  </filter-mapping>
</web-app>